# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environments
venv/
.env
env/
ENV/

# Databases
*.db
*.sqlite
*.sqlite3

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Large Datasets and challenges
dataset/
\[PUB\] India_runs_data_and_ai_challenge/
__MACOSX/
